<! DOCTYPE HTML>
<HTML>
<HEAD>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <TITLE>Numerology App</TITLE>
    
</HEAD>
<BODY>
    <div class="container">
    <div class="header">
        <h1>Numerology Calculator <small>A Skillcrush Project</small></h1>
    </div>
 
    <hr />
        <%= yield %>
    </div>
</BODY>
</HTML>